*{margin: 0;
padding: 0;
font-family: "Work Sans", sans-serif
}
body{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
   
}
.container{
    width: 350px;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    padding: 30px;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
}
.image img{
    border-radius: 50%;
}
.container h2{
    font-size: 30px;
    margin-top: 20px;
}
.container h3{
    color: hsl(75, 94%, 57%);
    margin-bottom: 20px;
    margin-top: 10px;
}
.container p{
    font-size: 15px;
    margin-bottom: 10px;
}
.container .link{
    width: 100%;
    height: 35px;
    background: hsl(0, 0%, 12%);
    margin: 10px 0;
    padding-top: 14px;
    border-radius: 10px;
}
.link a{
    text-decoration: none;
    color:hsl(0, 0%, 100%) ;
    font-weight: bold;
}
.link:hover{
    background-color: hsl(75, 94%, 57%);
    
}
.link:hover a{
   color: hsl(0, 0%, 8%);;
}
.attribution{
    position: absolute;
   display: inline;
   bottom: 10px;
   color: white;
}