*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Young Serif", serif;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: hsl(30, 54%, 90%);

}
.container{
 width: 600px;
 margin-top: 40px;
 padding: 25px;
 border-radius: 10px;
 background-color: hsl(0, 22%, 96%)
;
position: relative;
}
.image img{
    width: 100%;
    border-radius: 10px;
}
.container h1{
    font-weight: 400;
    margin: 10px 0px ;
}
.container p{
    font-size: 12px;
    font-family: "Inter", sans-serif;

}
li{
    font-family: "Inter", sans-serif;
    margin-left: 20px;
    font-size: 13px;
    padding: 5px 0px;
    
}
.ul1{
    width: 100%;
    background-color: hsl(332, 57%, 95%);
    padding:20px ;
    border-radius: 10px;
    margin: 20px 0px;
}
.ul1 h3 {
    color: hsl(332, 51%, 32%);
    margin-bottom: 5px;
}

h2{
    color: hsl(14, 45%, 36%);
}
ul,ol{
    margin: 20px 0px;
    
   
}
.ul2,ol {
    border-bottom: 1px solid #dadada;
    padding-bottom: 20px;
}
.p2{
    margin: 20px 0px;
}
table td{
margin: 20px 0px;
width: 10%;
padding: 10px 30px;}
table td{ 
    border-bottom: 1px solid #dadada;

}
