:root {
  --Purple100: hsl(254, 88%, 90%);
  --Purple500: hsl(256, 67%, 59%);
  --Yellow100: hsl(31, 66%, 93%);
  --Yellow500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}
body{
  height:100%;
}
body {
  position: relative;

  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400,500;
  font-style: normal;
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  background: #dddddd;
  padding: 40px;
}

p {
  font-size: 18px;
}
h2,
h3,
h4 {
  font-size: 23px;

  @media (width> 800px){
    font-size: 30px;
    line-height: 25px;
  }
}
.content {
  
  display: grid;
 
   gap: 20px;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven"
    "eight";

  @media (width> 630px) {
    display: grid;
    justify-content: center;
    width: 700px; 

    grid-template-areas:
      "seven one one "
      "seven three four "
      "eight three four"
      "eight two four"
      "six five five";
  }

  @media (width> 800px) {
    display: grid;
    justify-content: center;
    

    grid-template-areas:
      "seven one one four"
      "seven two three four"
      "eight two three four"
      "eight six five five";
  }
}
.content div {
  border-radius: 10px;
  padding: 20px;

}
.content > :nth-child(1) {
  grid-area: one;
  background-color: var(--Purple500);
  text-align: center;
  color: var(--White);
  font-size: 24px;
 line-height: 45px;
  .color-design {
    color: var(--Yellow500);
  }
  .italic-design {
    font-style: italic;
  }
  img {
    width: 200px;
    margin: -25px 0;
  }
  @media (width> 800px) {
    img {
      width: 250px;
    }
    h1{
      font-size: 35px;
    }
  }
}

.content > :nth-child(2) {
  background-color: var(--White);
  font-size: 16px;
  overflow: clip;
  display: flex;
  flex-direction: column-reverse;
  
  img {
    width: 300px;
    border-radius: 50px;
    box-shadow: 0 8px 15px #f3f3f3;

    
  }

  grid-area: two;

  @media (width> 800px) {
    overflow: clip;
   
    img {
      
    
      margin-right: -125px;
      
    }
  }
}
.content > :nth-child(3) {
  background-color: var(--Yellow500);

  overflow: clip;

  img {
    margin-bottom: -27px;
    width: 200px;
  }

  grid-area: three;

  @media (width> 800px) {
    img {
      width: 200px;
      margin-bottom: -100px;
    }
  }
}
.content > :nth-child(4) {
  background-color: var(--Purple100);
  text-align: center;

  img {
    width: 300px;
  }

  grid-area: four;

  @media (width> 800px) {
    overflow: clip;
    img {
      width: 400px;
      margin-right: -170px;
    }
    p{
      text-align: start;
    }
    h2{
      text-align: start;
    }
  }
}
.content > :nth-child(5) {
  background-color: var(--Purple500);
  text-align: center;

  color: var(--White);
 h2{
  padding:0 50px ;

  @media (width> 800px){
    padding: 0;
  }
 }
  img {
    width: 200px;
    margin-top: 10px;
  }

  grid-area: five;

  @media (width> 800px) {
    h2 {
      font-size: 30px;
      text-align: start;
    }
    align-items: center;
    display: flex;

    img {
      width: 250px;
    }
  }
}
.content > :nth-child(6) {
  background-color: var(--White);
  h1 {
    font-size: 40px;
    margin: -5px 0;
  }
  img {
    width: 200px;
   
  }

  grid-area: six;

  @media (width> 800px){
    img{
      margin-top: 40px;
    }
    
    h1{
      font-size: 60px;
    }
  }

}
.content > :nth-child(7) {
  background-color: var(--Yellow100);
  img {
    width: 200px;
    margin-bottom: 20px;
  }
  span {
    color: var(--Purple500);
  }

  grid-area: seven;

  @media (width> 800px) {
    padding-top: 100px;

    img {
      width: 200px;
    }
  }
}

.content > :nth-child(8) {
  background-color: var(--Yellow500);
  padding-top: 30px;
  grid-area: eight;
  img{
    width: 200px;
  }
  

  @media (width> 800px) {
    img {
      width: 200px;
    }
  }
}

.attribution{
  position: absolute;
  font-size: 12px;
  bottom: 1px;

  @media (width> 800px){
    font-size: 18px;
  }
}