* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --VeryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --DarkBlue: hsl(223, 47%, 23%);
  --PaleBlue: hsl(225, 100%, 94%);
  --BrightBlue: hsl(245, 75%, 52%);
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--PaleBlue);
  background-image: url(pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;

  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.box {
  width: 400px;
  background-color: var(--VeryPaleBlue);
  border-radius: 10px;
  overflow: hidden;
}
.image img {
  width: 100%;
}
.content {
  margin: 40px;
  text-align: center;
}
.content h1 {
  margin-bottom: 10px;
}
.content h4 {
  margin-bottom: -20px;
}
.content p {
  font-size: 16px;
  color: var(--DesaturatedBlue);
  margin-bottom: 10px;
}
.price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}
.price .image1 {
  margin-right: 15px;
}
.price .plan {
  margin-right: 70px;
}
.price a {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  color: var(--BrightBlue);
}
.price a:hover {
  text-decoration: none;
  color:  hsl(245, 74%, 62%);;
}
.button button {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: var(--BrightBlue);
  margin-bottom: 20px;
}
.button button:hover {
  background-color: hsl(245, 74%, 62%);
  cursor: pointer;
}
.button button a {
  text-decoration: none;
  color: var(--VeryPaleBlue);
  font-weight: bold;
  font-size: 14px;
}
.order a {
  text-decoration: none;
  color: var(--DesaturatedBlue);
  font-size: 14px;
}
.order a:hover {
  font-weight: bold;
  color: var(--DarkBlue);
}
.attribution{
  position: absolute;
  bottom: 10px;
  
}