* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  position: absolute;
  bottom: 20px;
 
}
footer p,
span {
  margin: 15px 0;
}
footer p {
  font-size: 10px;
  color: rgb(185, 185, 185);
  letter-spacing: 2px;
}
footer span {
  font-size: 15px;
}
.content1,
.content2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content1 {
  border-bottom: 2px solid #dadada;
}
.box {
  width: 300px;
  height: 170px;
  margin-right: 30px;
  margin-top: 40px;
}
.content1 .button button {
  width: 120px;
  height: 40px;
  font-weight: bold;
  margin-top: 10px;
}
footer .icons i {
  margin-right: 20px;
  font-size: 20px;
  padding: 6px;
  border: 1px solid #dadada;
  border-radius: 50px;
}
