* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  align-items: center;
}

nav {
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  display: flex;
}

.nav1 .image {
  width: 60px;
  height: 70px;
  margin-left: 60px;
  margin-right: 120px;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
}

nav .nav1 {
  display: flex;
}

.nav1 ul {
  display: flex;
  padding-top: 25px;
}

.nav1 ul li {
  margin-right: 25px;
  text-transform: uppercase;
  list-style: none;
  font-size: 19px;
  font-weight: 500;
  cursor: pointer;
}

nav .nav2 {
  margin-right: 50px;
}

.nav2 i {
  margin-right: 30px;
  cursor: pointer;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
}
.content .content-left {
  width: 40%;
  margin: 150px;
  align-items: center;
  justify-content: center;
}
.content-left h5 {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 20px;
  color: darkgrey;
}
.content-left h1 {
  font-size: 45px;
  width: 400px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.content-left p {
  width: 250px;

  margin-bottom: 15px;
}
.content-left .button button {
  padding: 10px 30px;
  background: #000;
  color: white;
  border-radius: 50px;
  border-top-left-radius: 0%;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.content-right {
  width: 60%;
  height: 100%;
  padding: 110px 100px;
  white-space: nowrap;
  overflow-x: scroll;
}
.content-right .product {
  width: 200px;
  height: 300px;
  position: relative;
  background: #1011;
  box-shadow: 0 5px 10px rgba(139, 136, 139, 0.616);
  display: inline-block;
  margin-right: 10px;
}
.content-right::-webkit-scrollbar {
  display: none;
}
.product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 20%;
}
.product h4 {
  position: absolute;
  bottom: 28%;
  text-transform: capitalize;
}
.product .catagory {
  position: absolute;
  text-transform: capitalize;
  bottom: 21%;
}
.color {
  text-transform: capitalize;
  position: absolute;
  bottom: 15%;
  color: rgb(74, 74, 75);
}
.price {
  text-transform: capitalize;
  position: absolute;
  bottom: 5%;
}
