* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400, 700;
  font-style: normal;
}
:root {
  --VeryDarkBlue: hsl(233, 47%, 7%);
  --DarkDesaturatedBlue: hsl(244, 38%, 16%);
  --SoftViolet: hsl(277, 64%, 61%);

  --White: hsl(0, 0%, 100%);
--SlightlyTransparentwhite: hsla(0, 0%, 100%, 0.75);
--SlightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);
}
html,body {
  height: 100%;
}

.mobile{

  mix-blend-mode: multiply;
  width: 300px;
  @media (width>800px) {
  display: none;
}
}
.desktop{
  display: none;
  @media (width>800px) {
display:block;
width: 400px;
height: 350px;
mix-blend-mode: multiply;
}
}
body {
  padding: 10px;
  display: flex;
  
  justify-content: center;
  position: relative;
  background: var(--VeryDarkBlue);

position: relative;
  @media (width>800px) {
  align-items: center;
}
}
 .box {
    background-color: var(--SoftViolet);

 height:700px;
  display: flex;
flex-direction: column;
align-items:center;
border-radius: 10px;
 overflow: hidden; 
 
@media (width>800px) {
  display: flex;
  flex-direction: row;
  height: 350px;
  width: 800px;
  
  
}
}

.content{
  padding: 30px;
  text-align: center;
  width: 300px;
  background: var(--DarkDesaturatedBlue);

  p{
  color: var(--SlightlyTransparentwhite);
  margin-bottom: 20px;
  line-height: 25px;
    font-size: 15px;
  
   @media (width>800px) {margin-bottom: 80px;}
  }
 
 
  
  @media (width>800px) {
  text-align: start;
  height: 100%;
  width: 50%;
}
  
}


h1{
  
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--White);
  span{
    color: var(--SoftViolet);}

     @media (width>800px) {font-size: 30px;}
  



}
.component{
  text-transform: uppercase;
  
  h2{
    font-size: 22px;
    color: var(--White);
  }
  p{
    letter-spacing: 1.5px;
    font-size: 12px;
    color: var(--SlightlyTransparentWhite);
  }
@media (width>800px) {
display: flex;
gap: 30px;
}
}
.attribution{
  position: absolute;
  bottom: 1px;
  color: var(--White);
  font-size: 9px;
@media (width>800px) {
font-size: 17px;
}}
