*{

  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}


body{
    background: hsl(216, 15%, 48%);
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
   
    

}
.container{
    
   
    
    width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.container .image{
    width: 100%;

}
.image img{
    width: 100%;
    border-radius: 10px;
}
.container h3{
    font-size: 26px;
    margin: 10px;

}
.container p{
    font-size: 19px;
    margin-bottom: 10px;
    
}

.attribution{
position: absolute;
bottom: 1px;
width: 100%;
text-align: center;
font-size: 13px;
}





    
